[Desktop Entry]
Name=jigdo
Comment=Download manager of very large files
Comment[pl]=Zarządca pobierania bardzo dużych plików
Exec=jigdo
Icon=jigdo
Terminal=false
Type=Application
Categories=GTK;Network;FileTransfer;
# vi: encoding=utf-8
